<ion-view style="background-color: rgb(148, 32, 30);" id="page7" title="Burritos Default Page">
  <ion-content class="has-header" padding="true">
    <h1 style="color: rgb(255, 255, 255); font-weight: lighter; text-align: center;" id="burritosDefaultPage-heading13">Produtos</h1>
    <!-- <div id="burritosDefaultPage-card26" class="list card ">
    <ion-item style="" id="burritosDefaultPage-list-item33" class="item-icon-right  ">Burrito Simples
    <i class="icon ion-fork"></i>
  </ion-item>
  <div class=" item item-image">
  <img style="display: block; margin-left: auto; margin-right: auto;" src="img/iva7ZAzBTlC2i4IvABVe_BurritoSimples.png" width="100%" height="auto">
</div>
<form class="list " id="burritosDefaultPage-form7">
<label id="burritosDefaultPage-input4" class="item item-input ">
<span class="input-label">Informações adicionais</span>
<input placeholder="" type="text">
</label>
</form>
<ion-item style="" id="burritosDefaultPage-list-item34" class="item-icon-left assertive  ">
<i class="icon ion-arrow-right-c"></i>Pedir</ion-item>
</div>
<div id="burritosDefaultPage-card28" class="list card ">
<ion-item style="" id="burritosDefaultPage-list-item37" class="item-icon-right  ">Burrito Especial
<i class="icon ion-fork"></i>
</ion-item>
<div class=" item item-image">
<img style="display: block; margin-left: auto; margin-right: auto;" src="img/Iehmqil0QfObH5OZ4mCV_BurritoEspecial.png" width="70%" height="">
</div>
<form class="list " id="burritosDefaultPage-form9">
<label id="burritosDefaultPage-input6" class="item item-input ">
<span class="input-label">Informações adicionais</span>
<input placeholder="" type="text">
</label>
</form>
<ion-item style="" id="burritosDefaultPage-list-item38" class="item-icon-left assertive  ">
<i class="icon ion-arrow-right-c"></i>Pedir</ion-item>
</div> -->
<div ng-repeat="produto  in produtos">
  <div id="burritosDefaultPage-card26" class="list card ">


    <ion-item ng-click="SetUserName()" style="" id="burritosDefaultPage-list-item33" class="item-icon-right  ">{{ produto.Descricao }}
      <i class="icon ion-fork"></i>
    </ion-item>
    <div  style="width: 7.5em; height: 10em;" class=" item item-image">
      <img style="display: block; margin-left: auto; margin-right: auto; " data-ng-src="data:image/png;base64,{{produto.Foto}}" width="100%" height="100%">
    </div>




    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Quantidade
    </div>
    <select >
      <option selected>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
  </label>

  <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Informaçoes Adicionais">
  </label>
</div>


</div>

    <ion-item style="" id="burritosDefaultPage-list-item34" class="item-icon-left assertive" ng-click="postItem();" ui-sref="tabs.pedidos({id3:produto.Id})" id={{produto.Id}}>{{ cardapio.Descricao }}>
      <i class="icon ion-arrow-right-c"></i>Adicionar ao Carrinho</ion-item>

    </div>
  </div>

</ion-content>
</ion-view>
