<ion-view style="background-color: rgb(148, 32, 30);" id="page3" title="Cardápio">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(255, 255, 255); font-weight: lighter; text-align: center;" id="cardapioDefaultPage-heading2">Nosso Cardápio</h1>
        <ion-list id="cardapioDefaultPage-list2">
            <!-- <ion-item style="" ui-sref="tabsController.burritosDefaultPage" id="cardapioDefaultPage-list-item6">Burritos</ion-item>
            <ion-item style="" id="cardapioDefaultPage-list-item7">Nachos</ion-item>
            <ion-item style="" id="cardapioDefaultPage-list-item9">Fajitas</ion-item>
            <ion-item style="" id="cardapioDefaultPage-list-item10">Sobremesas</ion-item>
            <ion-item style="" id="cardapioDefaultPage-list-item11">Bebidas</ion-item> -->
            <div ng-repeat="cardapio  in cardapios">
              <ion-item ng-click="SetUserName()" ui-sref="burritosDefaultPage({id2:cardapio.Id})" id={{cardapio.Id}}>{{ cardapio.Descricao }} </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
