<ion-view style="background-color: rgb(148, 32, 30);" id="page2" title="Inicio Tab Default Page">
    <ion-content class="has-header" padding="true">
        <h1 style="color: rgb(255, 255, 255); font-weight: lighter; text-align: center;" id="inicioTabDefaultPage-heading1">Seja bem vindo !</h1>
        <div style="width: 300px; height: 28px;" class="spacer"></div>
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/gtEk0eKbSZ01h2mhDyYA_Amexicana.png" width="100%" height="auto">
        </div>
        <div id="inicioTabDefaultPage-card21" class="list card ">
            <ion-item style="" id="inicioTabDefaultPage-list-item2" class="item-icon-left balanced  ">
                <i class="icon ion-ios-bell-outline"></i>Chamar Garçom</ion-item>
        </div>
    </ion-content>
</ion-view>
