<ion-view style="background-color: rgb(112, 24, 23);" id="page4" title="Carrinho">
  <ion-content class="has-header" padding="true">

    <div style="" id="pedidosDefaultPage-list-item-container1" class="item item-body ">
      <h1 style="color: rgb(0, 0, 0); font-weight: lighter; text-align: center;" id="pedidosDefaultPage-heading6">Seus Pedidos</h1>
    </div>

    <div class="item item-body">
      <div ng-repeat="itempedido in itempedidos" id="pedidosDefaultPage-list-item-container2"  class="item item-body">
        <div style="margin-top:0px;color:#000000;" id="pedidosDefaultPage-markdown2">
          <p style="border-style:none;" class="item item-icon-right" href="#" >
            {{itempedido.Produto_Id}} - Quantidade:{{itempedido.Quantidade}}
            <button  style=" background-color: Transparent; border:none;"  class="icon ion-ios-close" ng-click ="remove($index)"></button>
          </p>

        </div>
      </div>
      <button class="button button-balanced  button-block icon-right ion-android-checkmark-circle " id="pedidosDefaultPage-button4">Finalizar Pedidos</button>

    </div>




    <div style="width: 300px; height: 38px;" class="spacer"></div>
  </ion-content>
</ion-view>
