<ion-view style="" id="page1" title="Tabs Controller">
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-stable tabs-icon-top ">
        <ion-tab id="tabsController-tab1" title="Inicio" icon="ion-ios-home" href="#/page5/{{restaurante.Id}}/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab3" title="Cardápio" icon="ion-android-bar" href="#/page5/{{restaurante.Id}}/page3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab id="tabsController-tab2" title="Carrinho" icon="icon ion-ios-cart" href="#/page5/{{restaurante.Id}}/page4">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
